@import url(https://fonts.googleapis.com/css?family=Roboto);
$one: #8C867B;
$two: #EFAD43;
$three: #284B63;
$four: #EDF4ED;
$five: #6A8D73;
$six: rgb(146, 244, 180);

body {
    background-color: $five;
    color: $two;
    font-family: 'Roboto', san-serif;
}

@mixin centerWidth () {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    }

    
.Home {
    @include centerWidth();
    width: 100%;
    position: fixed;
}

.link {
    text-decoration: none;
    color: $four;
    &:hover {
        color: $four;
        text-decoration: underline;
    }
}

.Nav {
    text-align: center;
    a {
        display: inline-block;
    }
    a:nth-of-type(2) {
        margin-left: 50%;
    }
}

.Works {
    @include centerWidth();
    width: 65%;
}
.work-list {
    // border: 1px solid black;
    width: 100%;
    margin-top: 25vh;
    h1 {
        font-size: 3em;
        margin-bottom: 1em;
    }
    div:last-of-type {
        margin-bottom: 50vh;
    }
    p {
        font-size: 1em;
        }
}
.poems {
    text-align: left;
line-height: 3em;
.poem {
    color: $four;
    p:last-of-type {
        margin-bottom: 25vh;
     }
} 
}
.scroll-up-button {
    width:5%;
    border-radius: 100px;
    margin: 4em;
    padding: 2em !important;
    text-align: center;
    padding: 20px;
    background-color: $two !important;
    color: $four;
}
@media only screen and (max-width: 768px) {
    .Works {
        width: 75%;
    }
}

.About {
    @include centerWidth();
    margin-top: 5%;
    width: 100%;
    height: 70vh;
    div {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        .sinead-img {
            max-width: 400px;
        }
    }
    .about-description {
        @include centerWidth();
        width:400px;
        p {
            margin-top: 2em;
        }
    }
}