@import url(https://fonts.googleapis.com/css?family=M+PLUS+1p);
@import url(https://fonts.googleapis.com/css?family=Archivo:regular);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular);
@import url(https://fonts.googleapis.com/css?family=DM+Sans:regular);
body {
  margin: 0px;
  padding: 0px;
  background-color: #737489;
  color: #ff9ea9;
  font-family: "IBM Plex Sans", san-serif;
  letter-spacing: 0.05em;
}

.Home {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  position: fixed;
}

.Home a {
  text-decoration: none;
  color: #b7e1ff;
}

.Home a:hover {
  color: #202806;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.Nav {
  text-align: center;
  margin-top: 2em;
}

.Nav .link-space {
  display: inline-block;
  width: 33%;
}

.Nav .link {
  text-decoration: none;
  color: #b7e1ff;
}

.Nav .link:hover {
  color: #202806;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.Nav h2 {
  position: relative;
  display: inline;
}

.Nav .nav-link {
  text-decoration: none;
  color: #ff9ea9;
}

.Nav .nav-link:hover {
  color: #ff9ea9;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.Nav .nav-title {
  font-size: 2em;
  display: inline;
  text-decoration: none;
  color: #ff9ea9;
}

.Works {
  letter-spacing: 0em;
  width: 50%;
  margin: 0 auto;
  text-align: center;
  width: 65%;
}

.work-list {
  width: 100%;
  margin-top: 15vh;
  text-align: left;
}

.work-list h1 {
  font-size: 2.5em;
  letter-spacing: 0.05em;
}

.work-list a {
  text-decoration: none;
  color: #b7e1ff;
}

.work-list a:hover {
  color: #202806;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.work-list p {
  display: inline;
  font-size: 1em;
  line-height: 1.5em;
}

.poems {
  text-align: left;
  margin-top: 50vh;
}

.poems h1 {
  letter-spacing: 0.05em;
}

.poems a {
  text-decoration: none;
  color: #ff9ea9;
  text-decoration: underline;
}

.poems a:hover {
  color: #b7e1ff;
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
}

.poems .poem {
  color: #b7e1ff;
  line-height: 2.5em;
}

.poems .poem p:last-of-type {
  margin-bottom: 15vh;
}

.scroll-up-button {
  width: 5%;
  border-radius: 100px;
  margin: 4em;
  padding: 2em !important;
  text-align: center;
  padding: 20px;
  outline: none;
  background-color: #ff9ea9 !important;
  color: #b7e1ff;
}

@media only screen and (max-width: 768px) {
  .Works {
    width: 75%;
  }
}

.About {
  position: absolute;
  text-align: center;
  line-height: 2.5em;
}

.About img {
  margin: 2em 0em -1em 0em;
  padding-left: 5em;
}

.About p {
  text-align: left;
  width: 50%;
  left: 25%;
  position: relative;
  color: #b7e1ff;
}

.About p:first-of-type {
  width: 70%;
  left: 15%;
  font-size: 2.5em;
  margin-top: -0.17em;
}

.About p:last-of-type {
  margin-top: -2em;
  line-height: 1.5em;
}

.About i {
  font-size: 2em;
  color: #82a0b5;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
}

.About i:hover {
  color: #b7e1ff;
}

@media only screen and (max-width: 768px) {
  .About img {
    padding-left: 0;
    max-width: 90%;
    height: auto;
  }
  .About p {
    margin-left: 0;
    left: 5%;
    width: 90%;
  }
  .About p:first-of-type {
    margin-top: -0.3em;
  }
}
/*# sourceMappingURL=main.css.map */